*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.fastq
*.fastq.gz
*.qza
*.qzv
*.csv
*.json
*/taxonomic-classification/*
*/classified_taxonomy/*
*/output/*
*/metadata/*
*/analysis/*
*/runs/*
*_classifier
.Rproj.user
