*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.fastq
*.fastq.gz
*.qza
*.qzv
*/taxonomic-classification/*
*/classified_taxonomy/*
*/output/*
*/metadata/*
*/analysis/*
*/runs/*
*/vertebrata12s_classifier/*
*/vertebrata16s_classifier/*